<launch>
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <node pkg="realtime_mapping" name="odom_publisher_node" type="odom_publisher_node" />
  <node pkg="velodyne_pointcloud" name="cloud_node" type="cloud_node" />
  <node pkg="realtime_mapping" name="pc2_transform_node" type="pc2_transform_node" />
</launch>
